
body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0;
    text-align: center;
}
#rel {
    position: relative;
}
#change {
    left: 574px;
    position: absolute;
    top: 28px;
}
.label {
    font-weight: bold;
    margin: 10px 1px 1px;
}
#numstan1, #numstan2 {
    border-color: #A6C9E2;
    border-width: 1px;
    color: green;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    width: 100px;
}
#stan1, #stan2, #date {
    border-color: #A6C9E2;
    border-width: 1px;
    letter-spacing: 4px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    width: 450px;
}
#selstan1, #selstan2 {
    background-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 1px;
    position: absolute;
    width: 456px;
}
#changeimg, #delstan1, #delstan2 {
    cursor: pointer;
}
p#deb {
    display: none;
}
#knopki, #zagolovok, #verniteVvod, #gXXzag {
    background: url("../images/bg_wave_light.gif") repeat-x scroll 50% 50% transparent;
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    text-align: center;
}
div#login {
    background: url("../images/bg_status.gif") repeat-x scroll 50% 50% #A6C9E2;
    padding: 2px;
    text-align: center;
}
#zagolovok, #gXXzag {
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
#zagolovok div, #gXXzag div {
    padding: 3px 0;
}
#knopki {
    display: none;
    margin-top: 20px;
}
#mesta, #rasp, #backToEnter {
    color: #444444;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
    width: 150px;
}
div#workarea {
    background: url("../images/bg_workarea.gif") repeat-x scroll 0 100% transparent;
    margin: 0 auto;
    padding: 10px 5px 0;
    text-align: left;
    width: 850px;
}
div#ootv60 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 5px solid #F0F7F0;
    border-right: 5px solid #F0F7F0;
    padding: 10px;
}
div#otv81 {
    margin-bottom: 10px;
}
div#eerror {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 5px solid #FFC0C0;
    border-right: 5px solid #FFC0C0;
    padding: 10px;
}
div.message {
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 40px;
    vertical-align: middle;
}
div#timeout {
    display: none;
    text-align: center;
}
div.error {
    background: url("../images/error.png") no-repeat scroll left top #FFF0F0;
    color: #CC3333;
    font-size: 10px;
}
div.warning {
    background: url("../images/warning.png") no-repeat scroll left top #FFFFF0;
    color: #CCCC33;
    font-size: 10px;
}
div.notice {
    background: url("../images/notice.png") no-repeat scroll left top #D5EAFB;
    color: #3333CC;
    font-size: 10px;
}
div.mesr {
    background: url("../images/mesright.png") no-repeat scroll right top transparent;
}
div#otvet {
    font-size: 12px;
    padding-top: 10px;
}
div.svmesta {
    cursor: pointer;
}
#wait {
    display: none;
    height: 25px;
    line-height: 25px;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#wait img {
    vertical-align: middle;
}
#descwait {
    font-size: 12px;
    font-style: normal;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    vertical-align: middle;
}
div#nifty {
    background: url("../images/bgvvod.jpg") no-repeat scroll 0% 50% transparent;
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    margin: 1px;
    position: relative;
    background-size: 100%;
}
div#nifty2 {
    margin: 0 5px;
}
div#enterForm, div#gXXparams {
    padding: 10px;
}
table.trainheader {
    font-size: 12px;
    margin-bottom: 15px;
}
td.hdr {
    background-color: #DDE6EF;
    color: #626262;
    font-weight: bold;
}
td.nomp {
    background-image: url("../images/bg.gif");
    color: #626262;
    font-weight: bold;
}
td.ndate {
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
}
td.ntime {
    background-color: #FFFFFF;
    color: #3333DD;
    font-weight: bold;
}
td.nmesta {
    background-color: #FFFFFF;
    color: #DD3333;
    font-weight: bold;
}
#gXXparams table {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}
.r {
    text-align: right;
}
.l {
    text-align: left;
}
#gXXparams td.r {
    color: #066A99;
    width: 40%;
}
#gXXparams .l {
    color: #069959;
    width: 60%;
}
.orange {
    color: #E17009;
}
.right {
    float: right;
    vertical-align: baseline;
    width: 50px;
}
.poezd {
    display: inline-block;
    font-size: 12px;
}
.zmesta {
    text-align: right;
}
div.mesta div.cost {
    border-color: #A6C9E2;
    border-right: 0 dashed #A6C9E2;
    border-style: dashed;
    border-width: 1px 0 0;
    margin-top: 10px;
    padding-top: 10px;
}
#otv60 {
    margin-bottom: 10px;
}
#accordion81 {
    font-size: 12px;
}
.accordion-body {
    font-size: 12px;
    padding-left: 20px;
    padding-top: 5px !important;
}
.accordion-body div {
    margin: 11px;
}
.accordion-body div.desc {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A6C9E2 -moz-use-text-color;
    border-image: none;
    border-left: medium none;
    border-right: medium none;
    border-style: dashed none;
    border-width: 1px medium;
    margin: 0;
    padding: 0 0 0 20px;
}
.accordion-body div.mesta {
    border: medium none;
    margin: 0;
    padding: 13px 0 0;
    text-align: center;
}
.blue {
    color: #066A99;
    font-weight: bold;
}
.green {
    color: #069959;
    font-weight: bold;
}
.accordion-body span.mesta {
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 5px;
}
.accordion-body span.mesta span {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #009933;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.accordion-body .l {
    width: 50%;
}
.accordion-body .r {
    width: 50%;
}
.tratata {
    border-color: #000066;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
}
.round {
}
#tabs {
    margin: 0 auto 5px;
    width: 900px;
}
div.mesta {
    text-align: center;
}
div.mesta div.cost {
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}
li.check, span.check {
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    color: #066A99;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 2px;
    padding: 1px 2px;
    text-align: center;
    vertical-align: middle;
}
div#login {
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    color: #2E6E9E;
    margin: 8px auto 3px;
    padding: 5px;
    width: 464px;
}
div#login input {
    font-size: 12px;
    padding: 2px;
    width: 100px;
}
#login > input.round {
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
}
#bronzakaz {
    padding: 10px;
}
#bronzakaz .head {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A6C9E2;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}
#bronzakaz .body {
    font-family: Georgia,"Times New Roman",Times,serif;
}
#bronzakaz .foot {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A6C9E2;
    border-image: none;
    border-right: 0 solid #A6C9E2;
    border-style: solid;
    border-width: 1px 0 0;
    padding-top: 10px;
}
#bronzakaz .oplata {
    display: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}
#bronzakaz .oplata {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #A6C9E2;
    color: #066A99;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
#bronzakaz .oplata .title, #bronzakaz .oplata .foot {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    text-align: center;
}
#bronzakaz .oplata .title {
    margin: 0 10px 20px;
}
#bronzakaz .oplata .foot {
    margin: 10px;
}
#bronzakaz .oplata div {
    margin: 10px;
    vertical-align: bottom;
}
.bold {
    font-weight: bold;
}
.norm {
    font-weight: normal;
}
#bronzakaz .body {
    text-align: center;
}
#bronzakaz .body .inline {
    display: inline;
}
#bronzakaz .body .title {
    color: #066A99;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    text-align: right;
    width: 260px;
}
#bronzakaz .body .znach {
    color: #069959;
    font-size: 14px;
    padding: 3px;
    text-align: left;
    width: 290px;
}
#bronzakaz .body div {
    margin: 10px;
}
#itogozakaz {
    margin-bottom: 10px;
    margin-top: 10px;
}
#tab_passazh {
    margin: 0 auto;
}
#tab_passazh tr.head td {
    color: #FFFFFF;
}
#tab_passazh tr.head td, #tab_passazh tr.foot td {
    background: url("../images/bg_wave_light.gif") repeat-x scroll 50% 50% transparent;
}
#tab_passazh td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dashed #A6C9E2;
    font-size: 12px;
    text-align: center;
}
#tab_passazh .txt {
    width: 100px;
}
#tab_passazh td.d {
    width: 30px;
}
#ui-datepicker-div {
    z-index: 2009;
}
div.visa {
    background: url("../visa.gif") no-repeat scroll left top transparent;
    height: 40px;
    margin: 0 50px;
}
div.mastercard {
    background: url("../mc.gif") no-repeat scroll right top transparent;
    height: 40px;
}
div.zakaz {
    background: url("../images/bgvvod.jpg") no-repeat scroll 50% 50% transparent;
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    line-height: 2em;
    margin: 5px;
    padding: 5px;
}
div.zakaz .podrobno {
    margin: 5px;
}
div.zakaz div.bold {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A6C9E2;
    border-image: none;
    border-style: dashed;
    border-width: 0 0 1px;
}
h3.info {
    text-align: center;
}
div.info {
    font-size: 12px;
    line-height: 1.5em;
    margin: 15px 25px;
    text-align: left;
}
div.info a {
    font-size: 12px;
}

div.menus img {
    margin: 5px 20px;
}

.copyright{
    font-size: 0.9em;
}

.enterForminsidewrapper{
    padding-left: 120px;
}