<HTML>
<HEAD>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon" />
    <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-old.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/dostavka.css" rel="stylesheet" />

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.3.2.min.js"></script>


	<script type="text/javascript" src="{{ STATIC_URL }}js/ui.core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/actions_new.js"></script>
	<!--script type="text/javascript" src="rezerv/js/actions.js"></script-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42292633-1', 'sms-kvytok.tk');
        ga('send', 'pageview');

    </script>
<title>Train Tickets</title>
</HEAD><BODY bgcolor=white text=black leftmargin=0 rightmargin=0 topmargin=0 marginwidth=0 marginheight=0 LANGUAGE=javascript>
<script type="text/javascript">
    var a = "{{ STATIC_URL }}"
</script>
<script><!--
var lid = 1;
--></script>
	<div id="tabs">
		<ul>
{#			<li><a href="#workarea">Замовлення місць</a></li>#}
		</ul>
    	<div id="workarea">

            <div id="zapros" >
        		<div id="nifty" class="round">
                    <div id="zagolovok" class="round" >

                        <div>Ви отримуватимете повідомлення про зміну кількості квитків у заданому напрямку на електронну пошту.<br>
                            Послуга активна протягом 4-х годин.
                        </div>
                    </div>
                    <div id="nifty2">
						<div id="gXXparams" style="display:none">
   							<div id="gXXzag" class="round"><div></div></div>
                				<table id="params" cellspacing="7">
                				</table>
    						<div id="verniteVvod" class="round">
        						<!--input id="rasp" type="button" value="Расписание" title="Расписание"-->
    						</div>
            			</div>

            			<div id="enterForm">
            			<div class="enterForminsidewrapper">

                			<div id="rel">
                				<div class="label">Станція відправлення:</div>
    							<span id="change">
    								<img title="Поменять местами станцию отправления и станцию назначения" id="changeimg" src="{{ STATIC_URL }}images/change.gif" >
                				</span>
            					<span>
    								<input type="text" id="stan1" class="round" ><img title="Очистить" id="delstan1" src="{{ STATIC_URL }}images/delete.gif" ><input class="round" type="text" id="numstan1" disabled><br >
    								<select name="selstan1" id="selstan1" ></select>
     							</span>
								<div class="label">Станція прибуття:</div>
                                <span>
    								<input type="text" id="stan2" class="round" ><img title="Очистить" id="delstan2" src="{{ STATIC_URL }}images/delete.gif" ><input class="round" type="text" id="numstan2" disabled><br>
        							<select name="selstan2" id="selstan2"></select>
    							</span>
                			</div>
							<div class="label">Дата відправлення:</div>
    			
                			<input type="text" id="date" class="round" >
                        </div>

                            <div id="knopki" class="round">
    							<input id="mesta" type="button" value="Наявність місць" title="Наявність місць" >
        						<!--input id="rasp" type="button" value="Расписание" title="Расписание"--> 
    						</div>
    
    						<p id="deb"><span>Debug: </span><input id="debug" ></p>
            			</div>
        			</div>
                </div>
            </div>
			<div id="wait" ><img src="{{ STATIC_URL }}images/ajax-loader.gif" ><span id=descwait></span></div>
    		<div id="otvet">
    			<div id="otv60" ></div>
    			<div id="otv11" ></div>
    			<div id="otv81" ></div>
    		</div>

    		<div id="messages"></div>
    
    		<div id="timeout">
				Запрос будет выполнен через <span class="stan">0</span> сек.
    		</div>
            <div id='query-message'></div>
            <form id="sms-query-form" class="round" method='POST' style="display: none">
                <h3>Прислати повідомлення коли з'являться нові квитки?</h3>
                {{ form.query }}
                {{ form.platzcart }}  Плацкарт<br>
                {{ form.kype }} Купе<br>
                введіть email:<br>
                {{ form.email }}<br>
                або номер телефону:<br>
                {{ form.phone }} наприклад 380638475654 <br>
                <input type="submit" value="Зберегти" title="Зберегти" >
            </form>
        </div>

    </div>
<div class="copyright"><img src="{{ STATIC_URL }}images/train.png" width="30px" > info@sms-kvytok.tk <br> 2013 © Всі права захищені</div>

</BODY>
</HTML>
    
